<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash board</title>
</head>
<body>
    <h1>Dashboard</h1>
    <h2>Welcome {{name}}</h2>

    {% if perms.enroll.delete_blog %}
    <button type="submit">Delete</button> <br> <br>

    {% else %}
    <h2>No delete permission</h2>
    {% endif %}

    {% if perms.enroll.add_blog %}
    <button type="submit">Add</button> <br> <br>

    {% else %}
    <h2>No Add permission</h2>
    {% endif %}


    <a href="{% url 'logout' %}">Logout</a><br>
</body>
</html>