{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="col-sm-10">
        <h3 class="text-white my-5">About Page</h3> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptatum nam eius consequuntur unde iure assumenda consectetur. Magnam perspiciatis ratione labore cupiditate quae autem, laborum nobis, praesentium fugit doloremque aliquid.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo dignissimos facere libero ut eaque maxime quidem tempora rerum at voluptates voluptas veritatis nesciunt, totam sequi natus amet perferendis vero officiis.</p>
    </div>
{% endblock content %}